<div ng-init="init()">
	<div class="map_wrap">
		<div id="atms_map">
			<ng-map center='[50.936, -1.395]' zoom='16' styles="[{ featureType: 'poi.business',stylers: [{ visibility: 'off'}]}]">
				<!--ui-gmap-window show="window.show" 
								coords="window.model" 
								options="window.options" 
								closeClick="window.closeClick()">
					<div style="color: black">
						{{window.title}}<br/>
						{{window.content}}
					</div>
				</ui-gmap-window-->
				<marker ng-repeat="marker in markers"
						position="{{marker.latitude}}, {{marker.longitude}}"
						title="{{marker.title}}"
						icon="{{ATMIconBlue}}"
						>
				</marker>
			</ng-map>
		</div>
	</div>

	<div class="detail_wrap">
		<div id="atms_list" ng-repeat="atm in visibleMarkers" ng-show="atms_list_show">
			<p ng-click="showWindowAndDetail(atm)">{{atm.content}}</p>
		</div>
		<div id="atms_details" ng-show="atms_detail_show">
			<div class="atms_details_title">
				<div class="details_title">
					ATM name:
				</div>
				<div class="details_title_name">
					{{ATMdetail.name}}
				</div>
			</div>
			<div class="atms_details_content">
				<div class="details_content">
					<table class="details_table">
						<tr>
							<td>Address:</td>
							<td>{{ATMdetail.label}}</td>
						</tr>
						<tr ng-if="ATMdetail.building !== ''">
							<td>Located building on campus:</td>
							<td>{{ATMdetail.building}}</td>
						</tr>
						<tr ng-if="ATMdetail.fee !== ''">
							<td>Fee:</td>
							<td>{{ATMdetail.fee}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="back_to_list" ng-click="backToList()">Back to list</div>
		</div>
	</div>
</div>