<div ng-init="init()">
	<div class="map_wrap">
		<div id="drinks_map">
			<ng-map center='[{{map.latitude}},{{map.longitude}}]'
					zoom='{{map.zoom}}'
					geo-fallback-center="[50.936, -1.395]"
					geo-callback="callbackFunc()"
					styles="[{ featureType: 'poi.business',stylers: [{ visibility: 'off'}]}]">
				<marker ng-repeat="marker in markers"
						id="{{marker.id}}"
						position="{{marker.latitude}}, {{marker.longitude}}"
						title="{{marker.title}}"
						icon="{{drinkIconBlue}}"
						on-click="markersEvent.click(marker)"
						draggable="{{marker.draggable}}"
						animation="{{marker.animation}}"
						>
				</marker>
				<marker animation="DROP" position="current-location"></marker>
			</ng-map>
		</div>
	</div>

	<div class="detail_wrap">
		<div id="drinks_list" ng-repeat="drink in markers" ng-show="drinksListShow">
			<p ng-click="showDetail(drink)">{{drink.title}}</p>
		</div>
		<div id="drinks_details" ng-show="drinksDetailShow">
			<div class="drinks_details_title">
				<div class="details_title">
					Drink service name:
				</div>
				<div class="details_title_name">
					{{drinkDetail.name}}
				</div>
			</div>
			<div class="drinks_details_content">
				<div class="details_content">
					<table class="details_table">
						<tr>
							<td>Address:</td>
							<td>{{drinkDetail.label}}</td>
						</tr>
						<tr ng-if="drinkDetail.concept !== ''">
							<td>The concept:</td>
							<td>{{drinkDetail.concept}}</td>
						</tr>
						<tr ng-if="drinkDetail.desc !== ''">
							<td>Detailed description:</td>
							<td>{{drinkDetail.desc}}</td>
						</tr>
						<tr ng-if="drinkDetail.building !== ''">
							<td>Located building on campus:</td>
							<td>{{drinkDetail.building}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="back_to_list" ng-click="backToList()">Back to list</div>
		</div>
	</div>
</div>